body {
  background: url('background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  opacity: 0.9;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

#wrapper {
  position: absolute;
  width: 100%;
}

#section {
  position: relative;
  background-color: white;
  width: 38%;
  padding: 10px 10px 10px 10px;
  margin: 10px;
  border-style: dotted;
  border-width: 1px;
  float: left;
}

#bucket_list {
}

h1 {
  font-size: 3em;
  font-weight: bold;
}

h3 {
  font-size: 1.25em;
  font-weight: bold;
}
